@import "example/sharedStyles";

.project-image {
    width: 20%;
}

a {
    color: inherit;
}

.project-item {
    background: transparent;
    font-size: 1.1rem;
    width: 350px;
    max-width: 100%;
    padding: 0.5rem 0.875rem 0.875rem;
    border-radius: 6px;
}

.project-detail-item {
    transition: .2s all ease-out;
    text-decoration: none;
    border-bottom: none !important;
    opacity: .6;
}

.project-item:hover {
    background: rgba(79, 79, 79, 0.067);
}

a.item:hover {
    opacity: 1;
}